* {
    box-sizing: border-box;
  }
  
  main {
    min-height: 100vh;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
  }
  
  h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
  }
  
  button {
    background-color: #31b572;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #26a164;
  }